.analyze-head {
    height: 50px;
    font-weight: bold;
    text-align: left;
    background-color: #cccccc;
}

.main-text {
    font-size: 32px;
}

.Action {
    color:blue;
    display: inline-block;
}

.Comment {
    color:red;
    display: inline-block;
}

.kind {
    font-weight: bold;
}

.value {
    font-style: italic;
}

.exploration {
    border:1px solid black;
}

video {
    max-width: 85%;
    height: auto;
  }

#evaluator-graph {
    border: solid;
    background: white;
}

.list-icon {
    list-style-type: none;
}

[class^="icon"] {
    width: 16px;
    height: 16px;
    background-size: contain;
    position: relative;
    margin-right: 10px;
    fill: #fff;
}

.icon-chrome {
    background-image: url(images/icons/chrome.png);
}

.icon-firefox {
    background-image: url(images/icons/firefox.png);
}

.icon-download {
    background-image: url(images/icons/download.png);
}

.inputSessionURL {
    width: 100px;
}

.home-text {
    margin: auto;
}

.home-text h3 {
    text-align:center;
}

.home-community {
    margin: auto;
}

.home-community img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }