.analyze-head {
    height: 50px;
    font-weight: bold;
    text-align: left;
    background-color: #cccccc;
}

.main-text {
    font-size: 32px;
}

.Action {
    color:blue;
    display: inline-block;
}

.Comment {
    color:red;
    display: inline-block;
}

.kind {
    font-weight: bold;
}

.value {
    font-style: italic;
}

.exploration {
    border:1px solid black;
}

video {
    max-width: 85%;
    height: auto;
  }

#evaluator-graph {
    border: solid;
    background: white;
}

.list-icon {
    list-style-type: none;
}

[class^="icon"] {
    width: 16px;
    height: 16px;
    background-size: contain;
    position: relative;
    margin-right: 10px;
    fill: #fff;
}

.icon-chrome {
    background-image: url(images/icons/chrome.png);
}

.icon-firefox {
    background-image: url(images/icons/firefox.png);
}

.icon-download {
    background-image: url(images/icons/download.png);
}

.inputSessionURL {
    width: 100px;
}

.home-text {
    margin: auto;
}

.home-text h3 {
    text-align:center;
}

.home-community {
    margin: auto;
}

.home-community img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content-title {
    display: inline-block;
    width: 80%;
}

.content-title-button {
    margin-bottom: 0.5rem;
}

#session-cards-container {
    margin: auto;
    width: 100%;
    background-color: darkgray;
    padding: 10px 20px 20px;
    border-radius: 10px;
}

.session-card {
    margin: auto;
    width: 100%;
    background-color: #e9ecef;
    padding: 10px 20px 20px;
    margin: 0px 0px 8px;
    border-radius: 10px;
}

.session-name {
    display: inline-block;
    width: 80%;
}

.session-action {
    width: 1em;
    height: 1em;
}

.session-card-left-container {
    display: inline-block;
    width: 80%;
}

.session-card-right-container {
    display: inline-block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5px;
}

.session-exploration {
    display: inline-block;
    width: 40%
}

.session-configuration {
    display: inline-block;
    width: 40%;
}

.session-value {
    display: inline-block;
    background-color: darkgray;
    text-align: center;
    width: 80%;
    border-radius: 10px;
    margin: 0px 0px 8px;
}

.session-noinput {
    border: none;
}

.session-card-right-text {
    text-align: center;
}

.show-hide-bar {
    text-align: center;
    margin: 0px 0px 8px;
}
