<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

            <div class="container jumbotron">
                <h1>Fostering the diversity of exploratory testing </h1>
                <p>
                    This page gathers the configurations, data and scripts used for the different experiments of our article.
                </p>
                
                <h2>Controlled Study</h2>
                You can find our Toolkit on the <a href="https://www.aifex.fr/">AIFEX</a> website.
                
                You can also get the versions of the extension used for our studies here :
                <ul>
                    <li><a href="static/study_extension_assisted.zip"> Assisted version</a></li>
                    <li><a href="static/study_extension_not_assisted.zip"> Not Assisted version</a></li>
                </ul>
                <p>The mapping rules used for the controlled study are available <a href="static/study_mapping_rules.json"> here </a></p>

                You can find the explorations produced :
                <ul>
                    <li> <a href="static/sessions/studentsExpe.json">Sec 8 </a></li>
                    <li> <a href="static/sessions/assisted.json">Sec 9 - assisted </a></li>
                    <li> <a href="static/sessions/notAssisted.json">Sec 9 - not assisted </a></li>
                </ul>

                <h2>Case Study</h2>
                The questions and answers submitted during the case study are available here :
                <a href="static/survey_exploratory.csv">case study</a>

            </div>

    </body>

    
</html>