<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">First WebSite Creation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>We provide a very sample WebSite you can use as a starting point.</p>
          <p>You just have to give a name for your WebSite and to give its URL <b>Google</b> !</p>
          At first, we then propose only one mapping rule : 
            <ul>
                <li>It matches a click done inside the body and, if such an event occurs, creates a <b>ClickOn$XXX</b> AIFEX abstract action (where XXX corresponds to the CSS selected of the clicked element).</li>
            </ul>
            Feel free to reuse this sample and please read our <a href="/documentation-website" target="_blank">documentation</a> to better understand how to create a web site. 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>