<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {account}) %>
  </head>
  <body>
    <%- include('../partials/nav', {account}) %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">AIFEX </h1>
            <p class="lead">Improve the quality, efficiency and diversity of your exploratory test sessions</p>
            <hr class="my-4"></hr>
            <h2>About Us !</h2>
            <p>AIFEX is collaboratively developped by <a href="https://www.labri.fr/">LaBRI</a> and <a href="https://www.cis-valley.fr/">CIS Valley</a> </p>
            <h2>License</h2>
            <p>AIFEX is open source, you can visit our github repository <a href="https://github.com/labri-progress/AIFEX">here</a>.</p>
            <h2>Join Us</h2>
            <p>Come to our growing community slack to share your experience with AIFEX, learn about upcoming features, and share your ideas with us. <a href="https://join.slack.com/t/aifex/shared_invite/zt-ga7dmlk4-krbg3nshhs7EjnENf9695Q">aifex.slack.com</a>.</p>
        </div>
    </div>
  </body>
</html>