<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">AIFEX </h1>
            <p class="lead">Improve the quality, efficiency and diversity of your exploratory test sessions</p>
            <hr class="my-4"></hr>
            <h2>Browser Extension</h2>
            <p>AIFEX comes with a Browser Extension. It :</p>
            <ul>
              <li>Monitor the tester's interactions with the webpage, and send them to the AI.</li>
              <li>Retrieves the AI predictions for the next interactions, and renders them directly on the webpage</li>
            </ul>

            Download our extension here
            <ul>
              <li id="store_sources"> Extension Stores </li>
                <ul id="store_list" class="list-icon">
                  <li >
                    <a href=<%= chromeStoreURL %> target="_blank"><svg class="icon-chrome"></svg> Chrome </a>
                  </li>
                  <li>
                    <a href=<%= firefoxStoreURL %> target="_blank"><svg class="icon-firefox"></svg> Firefox </a>
                  </li>
                </ul>
              <li>Direct download :</li>
                <ul class="list-icon">
                  <% if (PLUGIN_INFO) { %>
                    <li>
                      <a href="static/chromeExtension.zip"><svg class="icon-download"></svg>Chrome Extension (version <%= PLUGIN_INFO.version %>)</a>
                    </li>
                    <li>
                      <a href="static/firefoxExtension.zip"><svg class="icon-download"></svg>Firefox Extension (version <%= PLUGIN_INFO.version %>)</a>
                    </li>
                  <% } else { %>
                    <li>
                      <a href="static/chromeExtension.zip"> <svg class="icon-download"></svg>Chrome Extension </a>
                    </li>
                    <li>
                      <a href="static/firefoxExtension.zip"> <svg class="icon-download"></svg>Firefox Extension </a>
                    </li>
                  <% }  %>
                </ul>
            </ul>
        </div>
    </div>
  </body>
</html>