<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">AIFEX </h1>
        <p class="lead">Improve the quality, efficiency and diversity of your exploratory test sessions</p>
        <hr class="my-4"></hr>
        <div>
          <h2>Sign in to AIFEX</h2>
          <% if (kind) { %>
            <div class="alert-<%= kind %> " role="alert">
                <%=message %>
            </div>
          <% } %>
          <form action="/account/signin" method="post" id="signin">
            <div class="form-group row">
              <label for="user" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" form="signin" name="username" id="user" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password" required>
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>

        <br>
        <row>
          <div class="alert-info " role="alert">
            New to AIFEX ? <a href="/account/signup">Create an account</a>
          </div>
        </row>

      </div>
    </div>
  </body> 
</html>
