<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <% include ../partials/prism %>
    <link rel="stylesheet" href="/static/documentation.css">

</head>

<body data-spy="scroll" data-target="#toc">
    <% include ../partials/nav %>
    <div class="container">
        <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
                <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">
                <%- markdown('/views/evaluation/instructions-evaluator-without-proba.md');  %>
            </div>
        </div>
    </div>
</body>

</html>