* {
  
  background-color: #fdfdfd;
  background: #fdfdfd;
  font-family: "raleway";
}

body{
  width: 500px;
  height: 300px;
} 

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 30px;
  height: 25px;
}

#header_logo {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

header h2 {
  margin-top: -5px;
  font-family: "raleway";
  font-weight: normal;
  font-size: 20px;
}

#header_separator {
  top: -50px;
  width: 100%;
  height: 1px;
  left: 0px;
  background: #eeeeee;
}

/*             */

h2 {
  margin-top: 60px;
  text-align: center;
  font-family: "raleway";
  font-size: large;
  font-weight: bolder;

  font-size: 30px;
}

#link_to_server {
  margin: 0 auto;

  width: 50%;
  display: flex;

  justify-content: center;

  margin-top: 10%;
  padding-bottom: 50px;
}

.textInput {
  margin: 7px 0 0 30px;
  width: max(100px, 300px);
  height: max(20px, 20px);
  border: none;

  background: #f4f4f4;
  border-radius: 10px;
}

.button {
  /* margin-left: 20% !important; */

  font-family: "raleway";
  font-size: large;
  font-weight: bolder;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;

  display: flex;
  align-items: center;

  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 30px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#05bae2), to(#048caa));
  background: linear-gradient(180deg, #05bae2 0%, #048caa 100%);
  -webkit-box-shadow: 0px 6.33333px 12.6667px rgba(1, 33, 40, 0.25), inset 0px -2.11111px 2.11111px #0385a2,
    inset 0px 2.11111px 2.11111px #05c1ea;
  box-shadow: 0px 6.33333px 12.6667px rgba(1, 33, 40, 0.25), inset 0px -2.11111px 2.11111px #0385a2,
    inset 0px 2.11111px 2.11111px #05c1ea;
  border-radius: 4px;
}

/*               */

@media screen and (max-width: 680px){
  .containt{ color: tomato;}  
  .textInput{
  width: max(48px, 209px)
  }

}

.containt {
  margin-top: 5%;

  display: flex;
}

.containtleft {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.position_btn_pagedeux {
  margin-top: 25px;
 
}

.traitmid {
  margin-top: 20px;
  width: 4px;
  height: 150px;
  background: #4a4e5c;
}

.containtright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.buttonpagedeux_right {
  background: linear-gradient(180deg, #445b9d 0%, #334476 100%);
  box-shadow: 0px 7.2px 14.4px rgba(12, 16, 28, 0.25), inset 0px -2.4px 2.4px #314170, inset 0px 2.4px 2.4px #475ea2;
}

/*    */

.createOrlink {
  margin-top: 10%;
  align-items: center;
  display: flex;
  
  justify-content: center;
}

.separator {
  margin-top: 20px;
  width: 4px;
  height: 150px;
  background: #4a4e5c;
}

.create{
  background: linear-gradient(180deg, #445b9d 0%, #334476 100%);
  box-shadow: 0px 7.2px 14.4px rgba(12, 16, 28, 0.25), inset 0px -2.4px 2.4px #314170, inset 0px 2.4px 2.4px #475ea2;
}

.btn_marg{
  margin-left: 70px;
  margin-right: 70px;
}
/*  */


