

body {
    width: 500px;
    height: 300px;
}

header {
    justify-content: space-between;
    border-bottom: 2px solid black;
}

header img {
    opacity: 0.8;
}

header img:hover {
    opacity: 1;
}

.container  {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

#homeComponent {
    flex-direction: column;
}
