<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <% include ./partials/nav %>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">AIFEX </h1>
                <p class="lead">Improve the quality, efficiency and diversity of your exploratory test sessions</p>
                <hr class="my-4"></hr>
                <p class="main-text text-center">AIFEX - the platform for Exploratory Testing</p>

                <blockquote class="blockquote text-center">
                    <p class="mb-0"><em>``So it is with exploratory testing (ET): simultaneous learning, test design and test execution.''</em></p>
                    <footer class="blockquote-footer">J. Bach</footer>
                </blockquote>
                <div class="text-center">
                <a role="button" class="btn btn-lg btn-primary" href="/account/signin">Try for free</a>
                </div>

                <hr class="my-4"></hr>
                
                <div class="row">
                    <div class="col-md-4">
                        <img src="/static/images/design.jpg" width="100%" />
                        <p><strong>Design</strong> your session by defining its scope and purpose.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/static/images/run.jpg" width="100%"/>
                        <p>Use our browser extension and its AI to <strong>run</strong> your session.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/static/images/analyze.jpg" width="100%"/>
                        <p>Perform an <strong>analysis</strong> of your session. Check the identified bugs and fix them.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>